<h1 mat-dialog-title>Create your new project </h1>
<div mat-dialog-content>
    <p>Give me some information</p>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="data.type">

            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>

        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>LinkURL</mat-label>
        <input matInput [(ngModel)]="data.linkURL"  required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="save()">Ok</button>
</div>
