<!--component html goes here -->
<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="block-header row">
      <div class="col-md-6 text-right">
        <button type="button" data-toggle="modal"
          class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createProject()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let proj of projectList">
        <div class="card">
          <div class="block-header row">
            <div class="col-md-6">
              <div class="header">
                <h2 class="project-title">
                  {{proj.title}}

                </h2>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-6">
              <div class = "body">
              <small class="project-description">{{proj.description}}</small>
              <h4>Your link: {{proj.linkURL}}</h4>
              <div class="col-md-6 text-right">
                <button type="button" class="btn bg-pink waves-effect btn-sm" [routerLink]="['/app/project', proj.id]">
                  <span>Details</span>
                  <i class="fa fa-arrow-circle-right"></i>
                </button>
              </div>
            </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
