<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- <div class="card main-content">
        <div class="header">
          <h2>{{ "Welcome to UCC calculation program" | localize }}</h2>
          <ul class="header-dropdown m-r--5">
            <li>
              <button
                mat-icon-button
                [matMenuTriggerFor]="headerMenu"
                class="header-dropdown-mat-icon-button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #headerMenu="matMenu">
                <button mat-menu-item (click)="refresh()"> 
                    
                  <mat-icon>refresh</mat-icon>
                  <span>{{ "Refresh" | localize }}</span>
                </button>
              </mat-menu>
            </li>
          </ul>
        </div>
        <div class="body table-responsive">-->
    <!--query start-->
    <!-- <form class="example-form">              
                <mat-form-field class="example-full-width">
                  <mat-label>Enter your git link here</mat-label>
                  <textarea matInput placeholder="Ex. https://github.com/youraccount/abc" [(ngModel)]="TextInput" name="input"></textarea>
                  <mat-hint>FRIENDLY REMIND: Public respository only</mat-hint>
                </mat-form-field>
              </form>
              <button mat-raised-button (click)="Submit()" style="margin-top: 20px">Submit</button> -->
    <!--query end-->
    <!-- </div>
      </div>  -->
    <div class="block-header row">
      <div class="col-md-6 text-right">
        <button type="button" data-toggle="modal"
          class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createProject()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    
  </div>
</div>
