<!--component html goes here -->
<div class="row clearfix" [@routerTransition]>
    <div class="card main-content">
        <div class="header">
            <h1>{{project.title}}</h1>
            <ul class="header-dropdown m-r--5">
                <li>
                    <div class="form-actions">
                        <button type="button" [routerLink]="['/app/project']"
                            class="btn bg-black waves-effect waves-light"><i class="fa fa-arrow-circle-left"></i> Back
                            to Project List</button>
                        <button type="button" class="btn bg-green waves-effect waves-light"
                            (click)="registerToEvent()"><i class="fa fa-star"></i> Clone Project</button>
                        <button type="button" class="btn bg-orange waves-effect waves-light"
                            (click)="cancelRegistrationFromEvent()"><i class="fa fa-calculator"></i> Calculating the Project
                            Size</button>
                        <button type="button" class="btn bg-red waves-effect waves-light" (click)="cancelEvent()"><i
                                class="fa fa-remove"></i>Delete this link</button>
                    </div>
                </li>
            </ul>
            
            
        </div>
        <div class ="body">
            <p>some information about this link:</p> <pre>{{project.description}}</pre>
            <h5>link:<a href="{{project.linkURL}}" >{{project.linkURL}}</a></h5>
            <button mat-raised-button color="warn" (click) = "toggle()"> Show list of file</button>
        </div>

    </div>

    <div class="card main-content" *ngIf="show">
        <div class = "header">
            <h2>This file list : </h2>
        </div>
        <div class = "body">
            <p>haha</p>
    </div>
</div>
